.wh{
	width:300px;
	height:300px;
	}
.fwb{
	font-weight: bold;
	font-size:1rem;
	font-family:Microsoft JhengHei;
	color: #FFF;
	}
.sd:hover{
	box-shadow: 5px 5px 2px rgb(0,0,0,0.4);
	border:5 darkcyan;
	}
.tt{
	font-family:DFKai-sb;	
	margin:0 auto;
	font-weight:bold;
	font-size:3rem;
	color: #FFF;
	}
.pic{
	overflow:visible;
	}
.pic img{
	transform:scale(1,1);
	transition: all 0.5s ease-out;
	}
.pic img:hover{
	transform:scale(1.2,1.2);
	}
.fg{
	font-size:20px;
	color: #FFF;
	}
body{
	background-image:url(https://i.imgur.com/kUYAPj1.png);
	background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
}
@keyframes fadein {
  0% {opacity: 0;}
  25%{opacity: 0.3;}
  50%{opacity: 0.5;}
  75%{opacity: 0.7;}
  100%{opacity: 1;}
}
.fade_in{
  background: green;
  animation: fadein 1s ease;
}
.fb{
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.fb .letter {
  display: inline-block;
  line-height: 1em;
}